---
layout: page
title: Una finca en Carres
subtitle: Una oportunidad en la Galicia rural
---
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet"   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link href='https://fonts.googleapis.com/css?family=Muli:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
	<h1><strong>Se vende Finca en Carres, Oza-Cesuras</strong></h1>
	<h3>Con una extensión de 6500 m2, de los cuales 2000 m2 son edificables</h3>
	<h3>Teléfono de contacto: 655 04 25 85</h3>
	<img src="https://scontent.fmad3-2.fna.fbcdn.net/v/t1.0-0/q90/s480x480/13445593_636453013169247_4501710941510930893_n.jpg?oh=98ff3b0c49dbd9035d33fa996050bbd3&oe=57FC7CF3">
	<h3>Próximamente les informaremos de un proyecto de construcción de 3 viviendas en esta misma finca</h3>
</div> </div>
<body>
  <header class="container">
    <div class="row">
      </nav>
    </div>
    <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Vista de A Coruña desde la finca</p>
        <img src="https://scontent.fmad3-2.fna.fbcdn.net/t31.0-8/13392203_629377293876819_3137635703846900016_o.jpg">
      </div>
      <div class="col-sm-6">
        <p>Vista frontal de la finca</p>
        <img src="https://scontent.fmad3-2.fna.fbcdn.net/t31.0-8/13320572_629377377210144_2639654818215976361_o.jpg">
      </div>
      <div class="col-sm-6">
        <p>Vista desde la carretera</p>
        <img src="https://scontent.fmad3-2.fna.fbcdn.net/t31.0-8/13411809_629377587210123_3087594557683858434_o.jpg">
      </div>
      <div class="col-sm-6">
        <p>Panorámica desde el fondo</p>
        <img src="https://scontent.fmad3-2.fna.fbcdn.net/t31.0-8/13350527_629377620543453_168651841806944820_o.jpg">
      </div>
      <div class="col-sm-6">
        <p>Panorámica parecida</p>
        <img src="https://scontent.fmad3-2.fna.fbcdn.net/t31.0-8/13340232_629377610543454_6401312995344302090_o.jpg">
      </div>
    </div>
</body>
</html>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
