---
layout: page
title: Una finca en Carres
subtitle: Una oportunidad en la Galicia rural
---
<div class="foot">
      <div class="row text-left">
<p id="foot">
	<p>Se vende Finca en Carres, Oza-Cesuras.</p>
	<p>Con una extensión de 6500 m2, de los cuales 2000 m2 son edificables.</p>
	<p>Teléfono de contacto: 655 04 25 85.</p>
	<p>Próximamente les informaremos de un proyecto de construcción de 3 viviendas en esta misma finca.</p>
</p>
</div> </div>

  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Vista de A Coruña desde la finca</p>
        <img src="https://scontent.fmad3-2.fna.fbcdn.net/t31.0-8/13392203_629377293876819_3137635703846900016_o.jpg">
      </div>
      <div class="col-sm-6">
        <p>Vista frontal de la finca</p>
        <img src="https://scontent.fmad3-2.fna.fbcdn.net/t31.0-8/13320572_629377377210144_2639654818215976361_o.jpg">
      </div>
      <div class="col-sm-6">
        <p>Foto de la finca 3</p>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/gifts.jpg">
      </div>
      <div class="col-sm-6">
        <p>Foto de la finca 4</p>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/antique.jpg">
      </div>
    </div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
